{{- partial "open-wrapper.html" . -}}
<!-- dynamics -->
<div class="freshwp-main-wrapper" id="freshwp-main-wrapper" itemscope="itemscope" itemtype="http://schema.org/Blog" role="main" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
        <div class="freshwp-main-wrapper-inside clearfix">

            <div class="freshwp-featured-posts-area clearfix">
                <div id="text-23" class="freshwp-main-widget widget freshwp-box widget_text">
                    <div class="textwidget"><span><span class="breadcrumb_last" aria-current="page">トップ</span></span>
                    </div>
                </div>
            </div>

            <div class="freshwp-posts-wrapper" id="freshwp-posts-wrapper">




                <article id="post-240" class="freshwp-post-singular freshwp-box post-240 page type-page status-publish has-post-thumbnail hentry">


                    <header class="entry-header">
                        <h1 class="post-title entry-title"><a href="https://game.atwiki.jp/azurlane-cw/" rel="bookmark">アズールレーン クロスウェーブ攻略</a></h1>
                    </header>
                    <!-- .entry-header -->


                    <div class="entry-content clearfix">

                        <p>当サイトでは、アズールレーン クロスウェーブ（アズレンCW）の攻略情報を紹介しています。</p>



                        <figure class="wp-block-image size-large"><img src="https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174232/top_chara-1024x710-1-1024x710.jpg" alt="" class="wp-image-2277" srcset="https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174232/top_chara-1024x710-1.jpg 1024w, https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174232/top_chara-1024x710-1-300x208.jpg 300w, https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174232/top_chara-1024x710-1-768x533.jpg 768w"
                                sizes="(max-width: 1024px) 100vw, 1024px"></figure>



                        <p><strong>アズールレーンクロスウェーブ</strong>(アズレンCW)の最新情報や攻略情報をお届けするサイトです。<br>注目のトピックや話題も随時掲載予定！<br>既に指揮官の方も、これを機に指揮官になろうかと思っている方も、是非ご利用ください！</p>



                        <h2>発売日と商品情報</h2>



                        <figure class="wp-block-image size-large"><img src="https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174246/Az-jacket-1.jpg" alt="" class="wp-image-2278" srcset="https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174246/Az-jacket-1.jpg 674w, https://game-img.atwiki.jp/content/uploads/sites/5/2019/08/29174246/Az-jacket-1-300x171.jpg 300w"
                                sizes="(max-width: 674px) 100vw, 674px"></figure>



                        <p>発売日は<strong>2019年8月29日</strong>となっており、通常版と限定版の２通りが存在します。<br><a href="https://game.atwiki.jp/azurlane-cw/578/">詳細な商品情報についてはこちらをチェック！</a></p>



                        <h2>ゲーム概要紹介</h2>



                        <h3>アズレン初となる、コンシューマーバージョン！</h3>



                        <p>アズールレーン クロスウェーブ(アズレンCW)はiOSとAndroidで配信中の基本無料タイトル、アズールレーンを原作としたシューティングRPG。<br>原作とは異なるifの世界を舞台とした本作独自のストーリーが展開し、お馴染みの艦船(KAN-SEN)達がフル3Dグラフィックで動き回る、ファン待望の内容となっております。<br>また本作で初公開となるキャラ達の設定はアプリ版アズールレーンとも共有されるため、そういった意味でもファンにとって必見の内容になりそうです。</p>


                    </div>
                    <!-- .entry-content -->


                    <footer class="entry-footer">
                    </footer>
                    <!-- .entry-footer -->

                </article>



                <div class="clear"></div>

            </div>
            <!--/#freshwp-posts-wrapper -->

            <div class="freshwp-featured-posts-area clearfix">
                <div id="text-14" class="freshwp-main-widget widget freshwp-box widget_text">
                    <div class="textwidget">
                        <p>©2018 IDEA FACTORY / COMPILE HEART / FELISTELLA / Manjuu Co.,Ltd. &amp; Yongshi Co., Ltd. / Yostar, Inc. All Rights Reserved.<br> 当サイト上で使用しているゲーム画像の著作権および商標権、その他知的財産権は、当該コンテンツの提供元に帰属します。
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
            <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 550px; height: 3176px;"></div>
            </div>
            <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
            </div>
        </div>
    </div>
</div>
<!-- dyanamics -->
<!-- sidebars -->
{{- partial "sidebar-1.html" . -}} {{- partial "sidebar-2.html" . -}}
<!-- sidebars -->
{{- partial "closed-wrapper.html" . -}}
