<header id='atwiki-common-header'>
    <div class='uk-hidden-small atwiki_header_button_pc'>
        <div class='atwiki_header uk-container uk-container-center'>
            <nav>
                <div class='uk-navbar-brand uk-margin-small-top'>
                    <a href='//atwiki.jp'><img alt='ゲーム攻略・無料ウィキレンタルの アットウィキ (@WIKI)' src='https://atwiki.jp/assets/atwiki_logo-98f70ed1a24cbb0e3ea9ec177e7f4397770d60491d946ba39aaf97f791118f58.svg' width='94' height='30'>
                                    </a>
                </div>
                <div class='uk-navbar-flip'>
                    <ul class='uk-navbar-nav'>
                        <li class='atwiki_header_search uk-navbar-nav uk-margin-small-right uk-margin-small-top'>
                            <form action='//atwiki.jp/search' class='uk-display-inline-block uk-form' method='get'>
                                <input class='uk-search-field atwiki_header_search_box' name='query' placeholder='アットウィキ検索' type='text'>
                            </form>
                        </li>
                        <li class='top_btn'>
                            <a class='nav_top_bbs_name' href='//atwiki.jp/wiki/new/'><i class='uk-icon-pencil-square-o uk-margin-small-right color_green'></i>
                ウィキをつくる
              </a>
                            <li class='top_btn'>
                                <a class='nav_top_bbs_name' href='//atwiki.jp/game/news'><i class='uk-icon-gamepad uk-margin-small-right color_green'></i>
                   ゲームニュース
              </a>
                            </li>
                            <li class='top_btn'>
                                <a class='nav_top_bbs_name' href='//atwiki.jp/game/'><i class='uk-icon-crosshairs uk-margin-small-right color_green'></i>
                ゲーム一覧
              </a>
                                <li class='top_btn'>
                                    <a class='nav_top_bbs_name' href='//atwiki.jp/guide'><i class='uk-icon-book uk-margin-small-right color_green'></i>
                ご利用ガイド
              </a>
                                </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <nav class='uk-visible-small uk-navbar atwiki_header_nav atwiki_top_header_nav'>
        <ul class='uk-navbar-nav uk-hidden uk-width-1-1 uk-text-center atwiki_header_search_box' id='sp_head_bar_search'>
            <li class='uk-width-1-6'>
                <a id='atwiki_sp_header_search_close_btn' class='search_close_btn' href='#'><i class='uk-icon-arrow-left atwiki_top_search_close_btn'></i>
				</a></li>
            <li class='uk-width-5-6 atwiki_header_wikisearch_box'>
                <form action='/search' method='get'>
                    <input autocomplete='off' class='uk-width-5-6' name='query' placeholder='ウィキ検索' type='text'>
                </form>
            </li>
        </ul>
        <ul class='uk-navbar-nav uk-navbar-flip uk-width-1-1 uk-text-center' id='sp_head_bar'>
            <li class='content_btn uk-width-3-6'>
                <div class='uk-navbar-brand uk-margin-small-top'>
                    <a href='//atwiki.jp'><img alt='ゲーム攻略・無料ウィキレンタルの アットウィキ (@WIKI)' src='https://atwiki.jp/assets/atwiki_logo-98f70ed1a24cbb0e3ea9ec177e7f4397770d60491d946ba39aaf97f791118f58.svg' width='94' height='30'>
                                    </a>
                </div>
            </li>
            <li class='uk-width-3-6 atwiki_header_wiki_search_button'>
                <form action='//atwiki.jp/search' method='get'>
                    <input autocomplete='off' class='uk-width-5-6' name='query' placeholder='ウィキ検索' type='text'>
                    <i class='fa fa-search'></i>
                </form>
            </li>
        </ul>
    </nav>
</header>
