<div class='freshwp-sidebar-one-wrapper' id='freshwp-sidebar-one-wrapper' itemscope='itemscope' itemtype='http://schema.org/WPSideBar' role='complementary'>
    <div class='theiaStickySidebar'>
        <div class='freshwp-sidebar-one-wrapper-inside clearfix'>
            <div class='freshwp-sidebar-content' id='freshwp-left-sidebar'>
                <div id="text-3" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>商品情報</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/578/"><strong>商品情報</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/666/"><strong>店舗別特典</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1051/"><strong>公式PV</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/497/"><strong>DLC情報</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/185"><strong>アップデート情報</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/144"><strong>よくある質問</strong></a></p>
                    </div>
                </div>
                <div id="text-5" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>初心者向け攻略情報</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1464"><strong>キャラクターの艦種・能力値・装備について</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/4988"><strong>効率のいい序盤の進め方</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5015"><strong>バトルを有利に進めるコツ</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3169"><strong>おすすめスカウトキャラ</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/2365"><strong>効率のいい資金稼ぎ</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/2353"><strong>効率のいいAポイントの集め方</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5153"><strong>用語集等</strong></a></p>
                    </div>
                </div>
                <div id="text-18" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>アイテム情報</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5111"><strong>重要なアイテムの集め方</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3551"><strong>効率のいい教科書の集め方</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3681"><strong>効率のいいパーツ(装備強化素材)の集め方</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3767"><strong>明石謹製御守りについて</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/4320"><strong>Mアイソマについて</strong></a></p>
                    </div>
                </div>
                <div id="text-2" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>艦船 (キャラクター)情報</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1565#i"><strong>艦船一覧(艦種別)</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1565#i-19"><strong>艦船一覧(陣営別)</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3882"><strong>声優一覧</strong></a></p>
                        <p><strong><a href="https://game.atwiki.jp/azurlane-cw/5449">各章ごとに解放できる艦船</a></strong></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1429"><strong>艦隊効果一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/2377"><strong>効率のいい艦船のレベル上げ方法</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3048"><strong>認識覚醒について</strong></a></p>
                        <p><strong><a href="https://game.atwiki.jp/azurlane-cw/2769">好感度とケッコンシステム</a></strong></p>
                    </div>
                </div>
                <div id="text-15" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>ストーリーモード攻略</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/4573"><strong>ストーリーモード一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/170"><strong>序章「重桜の島風と駿河」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/172"><strong>1章「合同大演習、開催」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/174"><strong>2章「苦難と栄光の集い」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/176"><strong>3章「結ばれし新たな友情」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/178"><strong>4章「軋み」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/180"><strong>5章「想いを交わす艦船たち」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/182"><strong>6章「全てを守るための激闘」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/184"><strong>終章「理想へと続く航路」</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5467"><strong>8章（DLCとして追加予定）</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/2703"><strong>バトル報酬一覧</strong></a></p>
                    </div>
                </div>
                <div id="text-19" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>エクストリームバトルモード攻略</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/4158"><strong>敵役艦隊・アイテム情報一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/6053"><strong>バトル報酬一覧</strong></a></p>
                    </div>
                </div>
                <div id="text-20" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>コレクション</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/4438"><strong>トロフィー集め攻略情報</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/2492"><strong>トロフィー一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3879"><strong>ギャラリー一覧</strong></a></p>
                    </div>
                </div>
                <div id="text-21" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>スキル・装備</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5783"><strong>スキルの強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5812"><strong>主砲の強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5866"><strong>魚雷の強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5895"><strong>対空の強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5878"><strong>航空機の強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5890"><strong>設備の強化に必要な素材一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1317"><strong>スキル一覧</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5391"><strong>装備一覧</strong></a></p>
                    </div>
                </div>
                <div id="text-7" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>ゲームシステム</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/23"><strong>ゲーム概要</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1215"><strong>バトルの基本操作</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/1217"><strong>艦隊編成</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/3114"><strong>難易度変更について</strong></a></p>
                    </div>
                </div>
                <div id="text-6" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>各モード紹介</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/27"><strong>ストーリーモード</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/162"><strong>エピソードモード</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/127"><strong>エクストリームバトルモード</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/29"><strong>フォトモード</strong></a></p>
                    </div>
                </div>
                <div id="text-9" class="freshwp-side-widget widget freshwp-box widget_text">
                    <h2 class="freshwp-widget-title"><span>その他</span></h2>
                    <div class="textwidget">
                        <p><a href="https://game.atwiki.jp/azurlane-cw/166"><strong>倉庫</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/940"><strong>ドック</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/21"><strong>ショップ</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/190"><strong>ギャラリー</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/912/"><strong>オプション</strong></a></p>
                        <p><strong><a href="http://game.atwiki.jp/azurlane-cw/5859">原作「アズールレーン」の紹介</a></strong></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/198"><strong>バグ・不具合</strong></a></p>
                        <p><a href="https://game.atwiki.jp/azurlane-cw/5422"><strong>小ネタ</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
